.header {
	background-color: #A6BA22;
	width: auto;
	padding:40px 30px 15px 30px;
}

.body{
	background-color: #B49B7F;
	width: auto;
	padding: 40px;
}

.footer {
	background-color: #CCCCCC;
	padding: 30px;
}

.navigationBar {
  margin-left: 30px;
  margin-top: 30px;
}

.tekst {
	text-decoration:none;
	color: white;
	font-size: 16px;
}

a:hover {
	text-decoration:none;
}

.carousel-inner > .item > img {
	width: 100%;
	height: 500px; !important
}

.slikaProdukt{
	width: 100%;
	height: 30%;
}

.crta{
	width: 10%;
}

.font{
	font-size: 14px;
}

.spanheader{
	float:right;
}

.gumbRegistracija{
	background-color: #B49B7F;
	border: none;
}

.gumbRegistracija:hover{
	background-color: #a1825e;
	border: none;
}

.column {
    float: left;
    padding: 10px;
    height: 300px;
}

.left , .right{
  width: 25%;
  background-color: #B49B7F;
}
.right{
	background-color: #B49B7F;
}
p{
	font: "Museo";
}
.middle{
  width: 50%;
  background-color: #B49B7F;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.gumbRegistracija{
	background-color: #B49B7F;
	border: none;
}

.gumbRegistracija:hover{
	background-color: #a1825e;
	border: none;
}


.kontakt {
	font-size: 15px;
	font-weight: bold;
}

.navbar-default{
	background-color: #A6BA22;
	border: none;
}

.nav.navbar-nav li a {
	color: white;
	text-align: center;
}

.table-wrapper-2 {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.gumbKupi{
	background-color: #A6BA22;
	border: none;
	width: 150px !important;
}

.gumbPreklici{
	background-color: #9aac20;
	border: none;
	width: 150px !important;
}

.gumbKupi:hover{
	background-color: #A6BA22;
	border: none;
	width: 150px !important;
}

/* menu*/
.dropdown-large {
  position: static !important;
  background-color: #A6BA22;
}

.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
  background-color: #B49B7F;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: black;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: black;
  background-color: #f5f5f5;
}

.dropdown-menu-large li a {
	color: black;
	text-align: center;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: black;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: black;
  font-size: 16px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
/*konc menija */

/*slajder fixed*/
.carousel-control.right {
    background-color: transparent;
}
