.header {
    background-color: #A6BA22;
    width: auto;
    padding:40px 30px 15px 30px;
}

.body{
    background-color: #B49B7F;
    width: auto;
    padding: 40px;
}

.footer {
    background-color: #CCCCCC;
    padding: 30px;
}

.navigationBar {
    margin-left: 30px;
    margin-top: 30px;
}

.tekst {
    text-decoration:none;
    color: white;
    font-size: 16px;
}

a:hover {
    text-decoration:none;
}

.carousel-inner > .item > img {
    width: 100%;
    height: 500px; !important
}

.slikaProdukt{
    width: 100%;
    height: 30%;
}

.crta{
    width: 10%;
}

.font{
    font-size: 14px;
}

.spanheader{
    float:right;
}

.gumbRegistracija{
    background-color: #B49B7F;
    border: none;
}

.gumbRegistracija:hover{
    background-color: #a1825e;
    border: none;
}

.column {
    float: left;
    padding: 10px;
    height: 300px;
}

.left , .right{
    width: 25%;
}
.right{
    background-color: White;
}
p{
    font: "Museo";
}
.middle{
    width: 50%;
    background-color: White;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.gumbRegistracija{
    background-color: #B49B7F;
    border: none;
}

.gumbRegistracija:hover{
    background-color: #a1825e;
    border: none;
}


.kontakt {
    font-size: 15px;
    font-weight: bold;
}

.navbar-default{
    background-color: #A6BA22;
}

.nav.navbar-nav li a {
    color: white;
    text-align: center;
}

.table-wrapper-2 {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.gumbKupi{
    background-color: #A6BA22;
    border: none;
    width: 150px !important;
}

.gumbPreklici{
    background-color: #9aac20;
    border: none;
    width: 150px !important;
}

.gumbKupi:hover{
    background-color: #A6BA22;
    border: none;
    width: 150px !important;
}